.purple-form {
    --button-chooser-primary-color: purple;
    --button-chooser-active-color: rgb(104, 4, 104);
  }
  
  ::ng-deep.blue-form .button-chooser__button {
    background: blue;
  }
  ::ng-deep.blue-form .button-chooser__button--active {
    background: darkblue;
  }
  