ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    font-family: "Courier New";
    font-size: small;
}

button {
    margin-bottom: 10px;
}

#square {
    background-color: red;
    height: 100px;
    width: 100px;
    display: block;
}