<div class="tabs-container">
  <ch-tabs>
    <ch-tab title="Das erste Formular / NgModel">
      <pjm-first-form></pjm-first-form>
      <h3>One-Way Binding</h3>
      <pjm-first-form-one-way></pjm-first-form-one-way>
      <h3>Two-Way Binding</h3>
      <pjm-first-form-two-way></pjm-first-form-two-way>
    </ch-tab>

    <ch-tab title="Template Driven Forms">
      <pjm-template-driven-form></pjm-template-driven-form>
    </ch-tab>
    <ch-tab title="Reactive Task Forms">
      <pjm-model-driven-form></pjm-model-driven-form>
    </ch-tab>
    <ch-tab title="Dynmisch erzeugtes Formular">
      <pjm-generated-form></pjm-generated-form>
    </ch-tab>
    <ch-tab title="Registrierungsformular">
      <pjm-register-form></pjm-register-form>
    </ch-tab>
  </ch-tabs>
</div>



