<h2>Beispiele für Bindings</h2>

<h3>Berechnung innerhalb einer Interpolation</h3>
<div>1 + 2 ergibt {{ 1 + 2 }}</div>


<h3>Beispiel für Attribute-Binding</h3>

<table>
    <tr>
        <td>Zelle 1</td>
        <td>Zelle 2</td>
    </tr>
    <tr>
        <td [attr.colspan]="calculateColSpan()">Ich bin zwei Zellen breit</td>
    </tr>
</table>

<h3>Beispiel für Class-Binding</h3>
<div [class.alert]="temperature > 100">Aktuelle Temperatur: {{temperature}} Grad</div>

<h3>Beispiel für Style-Binding</h3>
<div [style.font-size.px]="temperature < 100 ? 12 : 20">Aktuelle Temperatur: {{temperature}} Grad</div>


<h2>Beispiele für die Verwendung der Micro-Syntax</h2>
<ul>
    <li *ngFor="let value of values">
        {{value}}
    </li>
</ul>

<ul>
    <ng-template ngFor let-value [ngForOf]="values">
        <li>{{value}}</li>
    </ng-template>
</ul>

<button class="btn" (click)="isVisible = !isVisible">Sichtbarkeit toggeln</button>


<div *ngIf="isVisible">
    Ich werde nur dann gerendert, wenn isVisible wahr ist.
</div>

<ng-template [ngIf]="isVisible">
    <div>
        Ich werde nur dann gerendert, wenn isVisible wahr ist.
    </div>
</ng-template>