<div class="task-list">
  <h1>Aufgaben durchsuchen</h1>
  <div class="input-group search-bar">
    <input type="text" #query class="form-control"
           id="searchField"
           (keyup.enter)="findTasks(query.value)"
           [formControl]="searchTerm">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"
              (click)="findTasks(query.value)">
        Suchen
      </button>
    </span>
  </div>

  <div>
    <task-item *ngFor="let task of tasks"
               [task]="task"
               (taskDelete)="deleteTask(task)"
               (taskSelected)="selectTask($event)"
               [selected]="task.id == selectedTaskId">
    </task-item>
  </div>
  <br>
  <a routerLink='./new' class="pull-right btn btn-success">
    Neue Aufgabe anlegen
  </a>
</div>
