<h2 *ngIf="!task.id">Neue Aufgabe anlegen</h2>
<h2 *ngIf="task.id">Aufgabe bearbeiten</h2>

<form novalidate (ngSubmit)="saveTask(form.value)" #form="ngForm" pjmIfNotBacklogThanAssignee>
  <div class="form-group">
    <label>Titel</label>
    <input type="text" class="form-control"
           name="title"
           [(ngModel)]="task.title"
           required minlength="5" maxlength="100"
           #title="ngModel"/>
    <div *ngIf="!title.valid && title.touched" class="alert alert-danger">
      <div *ngIf="title.hasError('required')">
        Der Titel ist erforderlich
      </div>
      <div *ngIf="title.hasError('minlength')">
        Der Titel muss mindestens
        {{ title.getError('minlength').requiredLength }}
        Zeichen enthalten
      </div>
      <div *ngIf="title.hasError('maxlength')">
        Der Titel darf maximal
        {{ title.getError('maxlength').requiredLength }}
        Zeichen enthalten
      </div>
    </div>

  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control"
              name="description"
              [(ngModel)]="task.description"
              minlength="5"
              maxlength="1000">
    </textarea>
    <pjm-show-error text="Beschreibung" path="description"></pjm-show-error>
  </div>

  <label>Tags</label>
  <div ngModelGroup="tags">
    <div *ngFor="let tag of task.tags; let i = index">
      <div class="tag-controls">
        <input class="form-control" name="{{i}}" [(ngModel)]="tag.label"
               minlength="3">
        <button class="btn btn-danger" (click)="removeTag(i)">
          Tag entfernen
        </button>
        <pjm-show-error text="Ein Tag" path="tags.{{i}}"></pjm-show-error>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success"
            (click)="addTag()">
      +
    </button>
  </div>

  <div class="form-group">
    <label>Status</label>

    <select name="state" [(ngModel)]="task.state" class="form-control">
      <optgroup *ngFor="let group of model.stateGroups" [label]="group.label">
        <option *ngFor="let state of group.states" [value]="state">
          {{model.stateTexts[state]}}
        </option>
      </optgroup>
    </select>
  </div>
  <!-- Implementierung der Status-Wahl über Radio-Buttons -->
  <label>Status</label>
  <div class="radio" *ngFor="let state of model.states">
    <label>
      <input type="radio" name="state" [(ngModel)]="task.state" [value]="state">
      {{model.stateTexts[state]}}
    </label>
  </div>
  <br>


  <!-- WEITERE MÖGLICHKEITEN DER SELECT DEFINITON
  <div class="form-group">
    <label>Status</label>
    <select name="state" [(ngModel)]="task.state" class="form-control">
        <option *ngFor="let state of model.states">{{state}}</option>
    </select>
  </div>
    <div class="form-group">
      <label>Status</label>
      <select name="state" [(ngModel)]="task.state"  class="form-control">
        <option  value="">--- Bitte auswählen --- </option>
        <option *ngFor="let state of model.states" [value]="state">
          {{model.stateTexts[state]}}
        </option>
      </select>
    </div>

  <select name="selectAsObject" class="form-control" ngModel>
    <option *ngFor="let state of model.statesAsObjects" [ngValue]="state">
      {{state.text}}
    </option>
  </select>
-->

  <div class="checkbox">
    <label>
      <input type="checkbox" name="favorite" [(ngModel)]="task.favorite">
      Zu Favoriten hinzufügen
    </label>
  </div>
  <br>
  <h4>Zuständiger</h4>
  <div ngModelGroup="assignee" *ngIf="task.assignee">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control"
             name="name"
             [(ngModel)]="task.assignee.name"
             [ngModelOptions]="{updateOn: 'blur'}"
             minlength="3"
             pjmUserExistsValidator
             #assigneeName="ngModel"/>
      <pjm-show-error path="assignee.name" text="Name"></pjm-show-error>
      <p *ngIf="assigneeName.control.pending">
        Der Benutzer wird überprüft...
      </p>
    </div>
    <div class="form-group">
      <label>E-Mail</label>
      <input id="assignee_email" type="text" class="form-control"
             name="email" [(ngModel)]="task.assignee.email"
             pjmEmailValidator
             #email="ngModel"/>
      <pjm-show-error path="assignee.email"></pjm-show-error>
    </div>

    <div *ngIf="form.hasError('assigneeRequired')"
         class="alert alert-danger">
      Der Task befindet sich nicht mehr im Backlog. <br>
      Bitte geben Sie einen Zuständigen an.
    </div>
  </div>

  <button (click)="cancel()"
          class="btn btn-default">
    Abbrechen
  </button>

  <button type="submit"
          class="btn btn-default"
          [disabled]="!form.valid">
    Aufgabe speichern
  </button>
</form>

<!--

<form (ngSubmit)="saveTask(form.value)" ifNotBacklogThenAssignee ...>
  ...
  <label>Status</label>
  <select name="state" [(ngModel)]="task.state"> ... </select>

  <h4>Zuständiger</h4>
  <div ngModelGroup="assignee">
    <label>Name</label>
      <input type="text" class="form-control"
             name="name" [(ngModel)]="task.assignee.name"
             minlength="3" pjmUserExistsValidator/>
     ...
  </div>
    ...
</form>

-->
