

 body {
     padding: 6px;
     font-family: monospace;
     #font-family: Helvetica;

    #text-align: center;
     color: white;
     background: black;
 }
.color {
    padding: 1rem;
    color: black;
}