<form novalidate (ngSubmit)="saveTask(form.value)" #form="ngForm">
  <div class="form-group">
    <label>Titel*</label>
    <input type="text" class="form-control"
           name="title" [ngModel]="task.title" required/>
  </div>
  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control"
              name="description" [ngModel]="task.description">
    </textarea>
  </div>
  <button type="submit" class="btn btn-default"
          [disabled]="!form.valid">
    Aufgabe speichern
  </button>
</form>

<pre>{{task | json}}</pre>
