body {
    padding-left: 20px;
    padding-top: 50px;

}

.tabs-container {
    width: 520px;
}

label {
    display: block;
}

.ng-touched.ng-invalid {
    border-color: #a94442;
}

.tag-controls > .form-control {
    width: calc(100% - 119px);
    display: inline-block;
}

.tag-controls > button {
    margin-top: -2px;
}

.tag-controls {
    padding-bottom: 8px;
}

form {
    padding-bottom: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#left {
    width: 535px;
    float: left;
    padding-right: 10px;
}

#right {
    overflow: hidden
}
