li {
  list-style-type: none;
}

p {
  margin: 0;
}

.date-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.single-event {
  margin-left: 10px;
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.event-title {
  width: 200px;
  height: 3em;
  margin: 0 0 0.5em 0;
  border: 1px solid 000;
}
